Repository sqlitecloud/sqlitecloud-php: changes, and which pre-commit hooks are due for each by the changed paths.
All: php-cs-fixer, php-code-sniffer

php-cs-fixer:
  name: php-cs-fixer
  language: script
  entry: vendor/bin/php-cs-fixer
  args:
  - fix
  - --config=.php-cs-fixer.php
  require_serial: true

php-code-sniffer:
  name: php-code-sniffer
  language: script
  entry: vendor/bin/phpcs
  args:
  - --standard=PSR12
  - --warning-severity=0
  - --runtime-set
  - ignore_warnings_on_exit 1
  require_serial: true

feat(workflow): github workflow for testing
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/deploy.yaml
  .php-cs-fixer.php
  .pre-commit-config.yaml
  .vscode/settings.json
  bootstrap.php
  composer.json
  composer.lock
  src/SQLiteCloudClient.php
  tests/integration/SQLiteCloudTest.php
  tests/unit/SQLiteCloudTest.php
Due: php-cs-fixer, php-code-sniffer

fix(code-coverage): set src directory to whitelist for codecov
  phpunit.xml
Due: none

fix(phpunit): use versions compatible from PHP 7.0 to 8.3
  .github/workflows/deploy.yaml
  composer.json
  composer.lock
Due: none

feat(workflow): testing release workflow
  .github/workflows/release.yaml
Due: none

fix(workflow): workflow action version
  .github/workflows/release.yaml
Due: none

feat(code-quality): add tools and apply required fixes
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .gitignore
  .php-cs-fixer.php
  .vscode/settings.json
  README.md
  admin/common.php
  composer.json
  composer.lock
  phpmd-ruleset.xml
  psalm.xml
  src/SQLiteCloud.php
  src/SQLiteCloudRowset.php
  src/sqcloud.php
  tests/integration/SQLiteCloudTest.php
  tests/unit/SQLiteCloudTest.php
Due: php-cs-fixer, php-code-sniffer

fix(namespace): simplified
  .github/workflows/release.yaml
  README.md
  admin/common.php
  composer.json
  src/SQLiteCloudClient.php
  src/SQLiteCloudRowset.php
  tests/integration/SQLiteCloudTest.php
  tests/unit/SQLiteCloudTest.php
Due: php-cs-fixer, php-code-sniffer

fix(admin): imports
  README.md
  admin/common.php
  admin/console_action.php
Due: php-cs-fixer

Update README.md
  README.md
Due: none

chore(readme): more badges
  README.md
Due: none

chore(readme): example
  README.md
Due: none

fix(readme): typo
  README.md
  composer.json
Due: none

fix(admin-panel): use relative paths
  .pre-commit-config.yaml
  .vscode/settings.json
  admin/common.php
  admin/console.js
  admin/login.js
  admin/upload.js
  admin/upload_action.php
Due: php-cs-fixer

feat(admin-panel): config vercel runtime
  vercel.json
Due: none

chore: update vercel.json to include all PHP files in admin directory
  vercel.json
Due: none

feat: update vercel.json to include all PHP files in admin directory
  vercel.json
Due: none

fix(admin-panels): include paths
  admin/backups.php
  admin/commands.php
  admin/connections.php
  admin/console.php
  admin/console_action.php
  admin/databases.php
  admin/download.php
  admin/include/footer.php
  admin/include/header.php
  admin/index.php
  admin/latency.php
  admin/login.php
  admin/login_action.php
  admin/logs.php
  admin/plugins.php
  admin/settings.php
  admin/stats.php
  admin/upload_action.php
  admin/users.php
  vercel.json
Due: php-cs-fixer

Fixed typo in admin/common.php, error message was breaking the UI
  admin/common.php
  composer.lock
Due: php-cs-fixer

Fixed typo in admin/common.php, error message was breaking the UI
  admin/common.php
Due: php-cs-fixer

Path conditions:
  php-cs-fixer: any of: \.php$
  php-code-sniffer: any of: \.php$, but not: ^admin/
